#topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    padding: 2px 0px 2px 0px;
}
#left {
    position: absolute;
    top: 28px;
    left: 0px;
    right: 66%;
    bottom: 3%;
    border-right: 1px solid #cbcbcb;
}
#bottomleft {
    position: absolute;
    top: 96.5%;
    left: 0px;
    right: 66%;
    bottom: 0%;
    border-right: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
}
#middle {
    position: absolute;
    top: 28px;
    left: 34%;
    right: 33%;
    height: 92.5%;
}
#generated {
    font-size: 32px;
    font-weight: 100%;
    text-align: center;
}
#right {
    position: absolute;
    top: 29px;
    left: 67%;
    right: 0px;
    height: calc(100vh - 29px);
    overflow-y: auto;
    border-left: 1px solid #cbcbcb;
}
h1{
    font-size:38px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}
h2{
    font-size:32px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}
h3{
    font-size:27px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}
h4, h5, h6{
    font-size:46px;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}
p, b{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:100;
}
#title,
#credits,
#version {
    font-size: 22px;
    font-family: Helvetica, Arial;
    font-weight: bold;
}
button{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:300;
}
input{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:300;
}
body{
    font-size: 16px;
    font-family:Helvetica, Arial;
    font-weight:300;
}
.red{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:inherit;
    color: red;
}
.green{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:100;
    color: green;
}
.blue{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:100;
    color: blue;
}
.yellow{
    font-size: 18px;
    font-family:Helvetica, Arial;
    font-weight:100;
    color: yellow;
}
/*http://css3buttongenerator.com*/
button{    
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    font-size: 18px;
    *font-size: 90%;
    *overflow: visible;
    padding: 0.5em 1em;
    color: #444;
    color: rgba(0, 0, 0, 0.80);
    *color: #444;
    border: 1px solid #999;
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}
button:hover,
button:focus{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
button:focus{
    outline: 0;
}
button:active{
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}
button.green{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}
button.red{
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60);
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #999;
}

#history-title {
    border-bottom: 1px dashed #cbcbcb;
    padding: 2px;
}