* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0
}

.container {
  height: 100%;
}

.container h3 {
  padding: 2px;
  margin: 0;
}

.container .footer {
  padding: 2px;
}

.vertical-container {
  float: left;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #e6e6e6;
}

.pad {
  height: 100%;
  padding: 5px 8px;
}

[class*=w-] {
  float: left;
}

.w-Third {
  width: 33.3333333%;
}

#generated {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
}

#right {
  overflow-y: auto;
}

#history-title {
  border-bottom: 1px dashed #cbcbcb;
  padding: 2px;
}